<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/banner.css">
    <link rel="stylesheet" href="/css/topselling.css">
    <link rel="stylesheet" href="/css/advert.css">
    <link rel="stylesheet" href="/css/categories.css">
    <link rel="stylesheet" href="/css/mostPopular.css">
    <link rel="stylesheet" href="/css/singleProduct.css">
    <link rel="stylesheet" href="/css/shoppingcart.css">
    <link rel="stylesheet" href="/css/uploadform.css">
    <link rel="stylesheet" href="/css/shipping.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/category-layout.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

</head>
<body>
    
<section class="container"> 
    <div class="header">
        <div class="logo">
            <a href="/"><h1><i class="lni lni-cart-full"></i>Freaky-store</h1></a>
        </div>
        <div class="navigation">
                <nav>
            <ul class="nav-ul" id="ul">
                <li id="link" ><a href="/" class="active">Home</a></li>
                <li id="link"><a href="/product/categories/fashion">Fashion</a></li>
                <li id="link"><a href="/product/categories/computer">Computers</a></li>
                <li id="link"><a href="/product/categories/shoe">Shoes</a></li>
                <li id="link"><a href="/product/categories/phone">Phones</a></li>
                <li id="link"><a href="/product/categories/electronic">Elecronics</a></li>
                <% if(!user){ %> 
                    <!-- <li><a href="/users/Register">Register</a></li> -->
                    <li><a href="/users/Login">Login</a></li>
            <% } %> 
            </ul>
        </nav>
    </div>
        
    <div class="search">
        <form action="/search">
            <input type="text" name="q" placeholder="Search anything here .....">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        </div>
        <div class="last">
            
            <% if(!user){ %> 
                <li><a href="javascript:void()"><i class="fas fa-user"></i></a> </li>
                <% }else if(user.facebookId != undefined || user.facebookId != null){ %>
                    <img src="<%=user.userImg %>" alt="<%= user.userImg %>" style="cursor: pointer;"  id="userImg" class="newfacebook" >

                <% }else{ %> 
                  
                    
                            <img src="/img/userImg/<%=user.userImg %>" alt="<%= user.userImg %>" style="cursor: pointer;"  id="userImg" >
                            
                            
                              
                     <% } %> 
                   
                    
           
                
             
              
                    
               
       

                
                <li class="cartNumber" style="cursor: pointer;"><i class="lni lni-cart" style="color: #fff;"></i><span id="cart" style="color: #fff;"> 0 </span></li> 
                  
                    </div>
                    
                    
                   <div class="showSearch">
                       <i class="fa fa-search" id="search"></i>
                   </div>
                    <div class="navbar">
                        <div class="bar1"></div>
                        <div class="bar1"></div>
                    <div class="bar1"></div>
                </div>
    
                
                
                <div class="removeNav">
                    <i class="fas fa-times"></i>
                </div>

              
    </div>
    
    
    
</section>

<div class="removeOnclick"></div>
<% if(user){ %> 
<div class="rightNavInfo">
    <li><a href="/users/dashboard/<%= user.id %>  ">Account</a></li>
    <li><a href="/product/new">New product</a></li>
    <li><a href="#">Order</a></li>
    <li><a href="/users/logout">Logout</a></li>
</div>
<div class="removeRightNav"></div>
<% } %> 



<p class="product-added"></p>


<div class="pageloader">
    <div class="pageload"></div>
    <!-- <p>loading .....</p> -->
</div>
<script>
    const searchBar = document.querySelector(".search")
    const searchBtn = document.querySelector("#search")
    const ul = document.querySelector('.nav-ul') 

searchBtn.addEventListener("click", (e) =>{
        searchBar.classList.toggle("showSearchOnClick")
        
    })


   
    
    const navbar = document.querySelector(".navbar")
    const removeOnclick = document.querySelector(".removeOnclick")
    navbar.addEventListener("click", (e)=>{
        ul.classList.add("showNav")
        navbar.style.display = "none"
        removeNav.classList.add("removeNavbar")
        removeOnclick.style.display = "block"

    })
    const removeNav = document.querySelector('.removeNav')
        removeNav.addEventListener("click", (e)=>{
        ul.classList.remove("showNav")
        navbar.style.display = "flex"
        removeNav.classList.remove("removeNavbar")
        removeOnclick.style.display = "none"
        rightNavInfo.style.display = "none"



        }) 
   
        removeOnclick.addEventListener("click", (e)=>{
        ul.classList.remove("showNav")
        navbar.style.display = "flex"
        removeNav.classList.remove("removeNavbar")
        removeOnclick.style.display = "none"


        }) 

       
    
        // removeNav.classList.add("removeNavbar")

    
        let openRightNav = document.querySelector("#userImg")
    let rightNavInfo = document.querySelector(".rightNavInfo")
    let removeRightNav = document.querySelector(".removeRightNav")
    console.log(removeRightNav);

        openRightNav.addEventListener("click", (e) =>{
        e.preventDefault()
        rightNavInfo.classList.toggle("show")
        removeRightNav.style.display = "block"
        
    })
    removeRightNav.addEventListener("click", (e) =>{
        removeRightNav.style.display = "none"
        rightNavInfo.classList.remove("show")


    })

    
</script>


    


<script>
   
    let Ulnavbar = document.querySelector('#ul') 
     let myLink = document.querySelectorAll("#ul li a")
   console.log(myLink);
     
     myLink.forEach(link =>{
        link.addEventListener("click", (e) =>{
            console.log(link);
            Ulnavbar.querySelector(".active").classList.remove("active")
            link.classList.add("active")
        })
     })
 
 
 
 </script>

 