<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/banner.css">
    <link rel="stylesheet" href="/css/topselling.css">
    <link rel="stylesheet" href="/css/advert.css">
    <link rel="stylesheet" href="/css/mostPopular.css">
    <link rel="stylesheet" href="/css/singleProduct.css">
    <link rel="stylesheet" href="/css/shoppingcart.css">
    <link rel="stylesheet" href="/css/uploadform.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

</head>
<body>

<section class="container"> 
    <div class="header">
        <div class="logo">
            <a href="/"><h1>E-Shop</h1></a>
        </div>
        <div class="navigation">
                <nav>
            <ul class="nav-ul">
                <li class="active"><a href="javascript:void()">Home</a></li>
                <li><a href="javascript:void()">Shop</a></li>
                <li><a href="javascript:void()">Computer</a></li>
                <li><a href="javascript:void()">Shoe</a></li>
                <li><a href="javascript:void()">Phones</a></li>
                
            </ul>
        </nav>
    </div>
        
    <div class="search">
        <form action="/search">
            <input type="text" name="q" placeholder="Search anything here .....">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        </div>
        <div class="last">
            
            <% if(!user){ %> 
                <li><a href="/"><i class="fas fa-user"></i></a> </li>
                <% }else{ %> 
                    
                    <li><a href="/"></a></li>
                    <img src="/img/<%= user.userImg %>" alt="<%= user.userImg %>" style="width: 30px;position: absolute;right: 6.6rem;top: 0;cursor: pointer;"  id="userImg" >
                    
                    
                        <% } %> 
                        <ul id="pages">
                            <% if(!user){ %> 
                                <li><a href="/users/Register">Register</a></li>
                                <li><a href="/users/Login">Login</a></li>
                        <% } %> 
                        
                    </ul>
                    
                </li>
                
                <!-- <li><a href="/"><i class="fas fa-heart"></i></a></li> -->
              
                    
         
              
                        <li><a href="/users/cart/<%= user.id %> "><i class="fas fa-shopping-cart">
                            
                            <!-- <if (cart[0] != null) { %> -->
                             
                            <!-- </i><span id="cart"> <=cart[0].userCart.length%>   </span></a> </li> -->
                            <!-- < }else{ %> -->
                             
                            </i><span id="cart"> 0   </span></a> </li>
                

                           
                        
                    </div>
                    
                    
                    <div class="navbar">
                        <div class="bar1"></div>
                        <div class="bar1"></div>
                    <div class="bar1"></div>
                </div>
    
                
                
                <div class="removeNav">
                    <i class="fas fa-times"></i>
                </div>
                
    </div>
    
    
    
</section>
<div class="removeOnclick"></div>

<div class="rightNavInfo">
    <li><a href="/">Account</a></li>
    <li><a href="/product/new">New product</a></li>
    <li><a href="/users/change-pass/<%= user.id %> ">change password</a></li>
    <li><a href="/users/logout">Logout</a></li>
</div>
<div class="removeRightNav"></div>





<script>
    const ul = document.querySelector('.nav-ul') 
    const li = document.querySelectorAll("li")
    const navbar = document.querySelector(".navbar")
    const removeOnclick = document.querySelector(".removeOnclick")

    navbar.addEventListener("click", (e)=>{
        ul.classList.add("showNav")
        navbar.style.display = "none"
        removeNav.classList.add("removeNavbar")
        removeOnclick.style.display = "block"

    })
    const removeNav = document.querySelector('.removeNav')
        removeNav.addEventListener("click", (e)=>{
        ul.classList.remove("showNav")
        navbar.style.display = "flex"
        removeNav.classList.remove("removeNavbar")
        removeOnclick.style.display = "none"
        rightNavInfo.style.display = "none"



        }) 
   
        removeOnclick.addEventListener("click", (e)=>{
        ul.classList.remove("showNav")
        navbar.style.display = "flex"
        removeNav.classList.remove("removeNavbar")
        removeOnclick.style.display = "none"


        }) 

        li.forEach(el =>{
           el.addEventListener("click", e =>{
            ul.querySelector(".active").classList.remove("active")
            el.classList.add("active")
           })
        })
    
        // removeNav.classList.add("removeNavbar")

    
        let openRightNav = document.querySelector("#userImg")
let rightNavInfo = document.querySelector(".rightNavInfo")
let removeRightNav = document.querySelector(".removeRightNav")

    openRightNav.addEventListener("click", (e) =>{
    e.preventDefault()
    rightNavInfo.classList.toggle("show")
    removeRightNav.style.display = "block"
    
})
removeRightNav.addEventListener("click", (e) =>{
    removeRightNav.style.display = "none"
    rightNavInfo.classList.remove("show")


})

</script>


    
    

    