<div class="mostPouplar_container myshoe" style="padding: 0;">
   
    
    <div class="popular " style=" width: 100%; margin: 0;padding: 0;">
        <% products.forEach(product => { %>
            
            <div class="pro_img mycategory" data-name="<%= product.categories %>">
                
                <a href="/product/<%= product.slug %> ">
                    <img src="/img/upload/<%= product.myfiles[0].filename %> " alt="" class="product-img">
                    
                    <h2 class="product-name"><%= product.productName.substr(0,15) %> </h2>
                </a>
                
                <div class="ratings">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p id="amount" class="product-price">&#8358 <%= product.amount %> </p>
          
             
        
                        <input type="hidden"    value="<%= product.id %> " class="product-id">
                        <input type="hidden"  name="price"  value="<%= product.amount %> ">
                        <input type="hidden" name="quantity" value="1" id="" class="product-quantity">
                        <input type="hidden" name="sizes" value="<%= product.sizes %>" id="" class="product-size">
                        <input type="hidden" name="color" value="<%= product.color %>" id="" class="product-color">
                        
                        <input type="hidden" name="categories" value="<%= product.categories %>" id="">
                        <button type="button" id="button" class="addBtn">Add to cart</button>
                        
                        
            </div>
            <% }) %>       
</div>
</div>



<!-- mycart items -->
<div class="cart_conntaianer">
    <div class="cart" style="overflow-x: auto;">
  
    <h2 id="table-header">My Shopping cart</h2>
    
      <table class="cart-table"> 
      
      
  
        <thead>
            <tr>
              <td>s/n</td>
              <td>img</td>
              <td id="name">name</td>
              <td>Amt</td>
              <td>color</td>
              <td>size</td>
              <td>Qty</td>
              <td>Total price</td>
  
              <td>remove</td>
           </tr>
          </thead>       
                  
          <tbody>
  
          </tbody>
    
          <tfoot>
            <tr>
                <td colspan="10">Grand Total <span class="total"></span></td>
            </tr>
  
          </tfoot>
  
          
          
          
        </table>
        <div class="cartBtnInfo">
          <!-- <input type="hidden" name="userId" value="<ser.id %> " id=""> -->
          <button> <a href="/">Continue shopping</a></button>
          <% if(!user){ %> 
          <button id="notLogging" class="CheckoutBTn">Checkout</button>
          <% }else{ %> 
            <button type="submit"  class="CheckoutBTn">Checkout</button>
          </div>
          <% } %> 
      
      
  
  
  <div class="loginUser">
    <div class="userLogin">
    <P>Please login to checkout</P>
    <div class="button">
  
      <button id="removeSlideShow" type="submit">cancel</button>
      <a href="/users/login">Login</a>
    </div>
  </div>
  
  </div>
    
  
  </div>
</div>


