<div class="edit_container">
    <h2>Account Overview</h2>
    <div class="accountInfo">
      <div class="editHeader">
        <h2>ACCOUNT DETAILS</h2>
        <a href="/users/account/<%= user.id %>"><i class="fas fa-edit"></i></a>
      </div>
      <div class="editInfo">
            
                <p> <i class="fas fa-user-tie"></i> Firstname: <span><%= user.firstname %></span>  </p>
                <p><i class="fas fa-users"></i> Lastname: <span><%= user.lastname %></span>  </p>
                <p><i class="fas fa-user"></i> Username: <span><%= user.username %></span>  </p>
                <p><i class="fas fa-envelope"></i> Email: <span style="text-transform: lowercase;">
                  <% if(user.email.length > 20){ %> 
                    <%= user.email.substr(0, 20)%> ...
                    <% }else{ %> 
                      <%= user.email%>
                    <% } %> 
                  </span>  </p>
                <p><i class="fas fa-phone"></i> phone: <span><% if(user.phone !=  null){%>
                    0<%= user.phone %> 
                  <%  }else{ %>
                    
                 <% } %> </span>  </p>
                <p> <i class="fas fa-calendar"></i> Date of Birth  <span><%= user.dob %></span>  </p>
                <p> <i class="fas fa-male"></i> Gender: <span><%= user.gender %></span>  </p>
                
                    <a href="" id="password">Change Password</a>
        
      </div>
    </div>





            <div class="addressinfo">
                <div class="editHeader">
                    <h2>ADDRESS BOOK </h2>
        <a href="/users/dashboard/<%=user.id%>/address" ><i class="fas fa-edit"></i></a>

                   
                </div>
                <div class="editInfo">
               
                <p> <i class="fas fa-map-marker-alt"></i> Address: 
                  <span> <% if(user.address.length > 20){ %> 
                    <%= user.address.substr(0,20)%> ...
                    <% }else{ %> 
                      <%= user.address%>
                    <% } %>  </span>  </p>
                <p> <i class="fas fa-flag"></i> Country: <span><%= user.country %></span>  </p>
                <p> <i class="fas fa-map-marked-alt"></i> State: <span><%= user.state %></span>  </p>
                <p> <i class="fas fa-location-arrow"></i> City: <span><%= user.city %>  </span>  </p>
                <p> <i class="fas fa-map-marker"></i> Local Govt: <span><%= user.lg %>  </span>  </p>
                <p> <i class="fas fa-map-marker"></i> Direction: <span>
                  
                  <% if(user.direction.length > 20){ %> 
                    <%= user.direction.substr(0, 20)%> ...
                    <% }else{ %> 
                      <%= user.direction%>
                    <% } %>  </span>  </p>               
                <p> <i class="fas fa-map-pin"></i> zip-code: <span><%= user.zip %>  </span>  </p>
                <p> <i class="fab fa-facebook-f"></i> facebook: <span style="text-transform: lowercase;"><%= user.facebook %>  </span>  </p>

               
                </div>
            </div>
</div>