<%- include("./partials/_header") %> 


<div class="cart">
    <% if(cart.length != null) {%> 
    <h2>My Shopping cart</h2>
<table>

            
                <!-- <th>S/n</th> -->
                <th>Items</th>
                <th>name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>remove</th>
          
            <% cart.map(carts => { %>
                <% let mycart = carts.userCart %> 
                
                
                <%  mycart.map(c =>{ %>
                    
                    <tr>
                        <!-- <td>< c._id %> </td> -->
                        <td><img src="/img/upload/<%= c.productId.myfiles[0].filename %> " id="cartImg" alt=""></td> 
                    
                        <td> <%= c.productId.productName %> </td>
                        
                        <td>  &#8358 <%=c.price %> </td>
                        <td> 
                          <form action="/users/cart/edit/<%=c._id %>?_method=PUT" method="POST">
                            <button type="submit" >
                            <select name="quantity"   id="">
                            <option value="1" <%= c.quantity == '1' ? 'selected' : ""%>>1</option>
                            <option value="2" <%= c.quantity == "2" ? 'selected' : "" %> >2</option>
                            <option value="3" <%= c.quantity == "3" ? 'selected' : "" %> >3</option>
                            <option value="4" ><%= c.quantity == "4" ? 'selected' : "" %> 4</option>
                            <option value="5" <%= c.quantity == "5" ? 'selected' : "" %> >5</option>
                            <option value="6" <%= c.quantity == "6" ? 'selected' : "" %> >6</option>
                            <option value="7"  <%= c.quantity == "7" ? 'selected' : "" %> >7</option>
                            <option value="8" <%= c.quantity == "8" ? 'selected' : "" %> >8</option>
                            <option value="9" <%= c.quantity == "9" ? 'selected' : "" %> >9</option>
                            <option value="10" <%= c.quantity == "10" ? 'selected' : "" %>  >10</option>
                        </select>
                    </button>
                        <input type="hidden" name="id" value="<%= c.productId.id %> ">
                            <input type="hidden" name="price" value="<%= c.price %> ">

                        <!-- <button type="submit" id="sub">-</button> -->
                    </form>
                     </td>
            
                     
                    <td> 
                        
                      <form action="/users/cart/delete/<%= c._id%>?_method=PUT" method="POST">
                        <input type="hidden" name="id" value="<%= c._id %> ">
                        <input type="hidden" name="productId" value="<%= c.productId.id %> ">
                        <input type="hidden" name="price" value="<%= c.price %> ">
                        <input type="hidden" name="quantity" value="<%= c.quantity %>">
                        <button type="submit"><i class="fa fa-times"></i></button>
                        </form>
                    </td>
                </tr> 
                        <% }) %> 
                        
                        
                        <tr>
                            <th>Total price</th>
                            <td></td>
                            
                        </tr>
                        <tr>
                        </tr>
                        <% }) %>
                    
                    </table>
<% }else{ %> 
        
    <h2>No Item found</h2>
    <% } %> 
</div>




<script>
    const add = document.querySelector("#add")
    const sub = document.querySelector("#sub")
    const qty = document.querySelector("#qty")

    let click = 0;
                
             add.addEventListener("click", (e)=>{
                    qty.value = click +=1
                // alert("eeeeee")
            
            })

   

    

        sub.addEventListener("click", (e)=>{
        qty.value = click -- ;
        if(qty.value <= 0){
            click = 1;
            
        }
    })

    
</script>

<%- include("./partials/_footer") %> 
