<%- include("./partials/_header") %> 


<div class="cart">
    <% if(cart.length != null) {%> 
    <h2>My Shopping cart</h2>
<table>

            
                <!-- <th>S/n</th> -->
                <th>Items</th>
                <th id="name">name</th>
                <th>Amt</th>
                <th>Qty</th>
                <th>Update</th>
                <th>Clear</th>
          
            <% cart.map(carts => { %>
                <% let mycart = carts.userCart %> 
                
                
                <%  mycart.map(c =>{ %>
                    
                    <tr>
                        <!-- <td>< c._id %> </td> -->
                        <td><img src="/img/upload/<%= c.productId.myfiles[0].filename %> " id="cartImg" alt=""></td> 
                    
                        <td> <%= c.productId.productName %> </td>
                        
                        <td>  &#8358 <%=c.price %> </td>
                        <td> 
                        
                           
                            <form action="/users/cart/update/<%= c._id %>?_method=PUT" method="POST">
                    <div class="count">
                        <input type="button"  class="add" value="+">
                           <input type="text"  value="<%= c.quantity %> " name="quantity" class="show-count">
                           <input type="button"  class="sub" value="-">
                       </div>

                        <input type="hidden" name="id" value="<%= c.productId.id %> ">
                            <input type="hidden" name="price" value="<%= c.productId.amount %> ">

                        <!-- <button type="submit" id="sub">-</button> -->
                   
                     </td>
            
                     
                    <td> 
                         <button type="submit"><i class="fa fa-pen" data-id="<%= c._id %> "></i></button>
                        </form>
                     
                    </td>
                    <td>
                            <form action="/users/cart/delete/<%= c._id%>?_method=PUT" method="POST">
                                <input type="hidden" name="id" value="<%= c._id %> ">
                                <input type="hidden" name="productId" value="<%= c.productId.id %> ">
                                <input type="hidden" name="price" value="<%= c.price %> ">
                                <input type="hidden" name="quantity" value="<%= c.quantity %>">
                                <button type="submit"><i class="fa fa-times"></i></button>
                        </form>
                        
                    </td>
                </tr> 
                
                <% }) %>
                <tr>
                    <th id="totalPrice">Total price</th>
                    <td><% let total = mycart.reduce((a, b) => a + b.price, 0)%> 
                       
                      <h3>  &#8358 <%= total %> </h3>

                    <% }) %> 
                    
                    
                </tr>
                <tr>
                </tr>
                    
                    </table>
<% }else{ %> 
        
    <h2>No Item found</h2>
    <% } %> 
</div>

    <div class="paynow">
        <% cart.map(carts => { %>
            <% let mycart = carts.userCart %> 
       <% let  total = mycart.reduce((a, b) => a + b.price, 0)%>
          
        <form action="/users/cart/<%= user.id %>/payment" method="POST">
            <input type="hidden"  name="amount" value="<%=total %>">
        <script
            src="//checkout.stripe.com/v2/checkout.js"
         class="stripe-button"
         data-key="<%= key %>" 
         data-currency ="usd"
         data-name="<%= user.username %> "
         data-description="purchase from freaky-store"
         data-amount="<%=total %>"
         data-Locale="auto">
         

         </script>
         </form>  
         <% }) %> 
    </div>


<script>
    const addUp = document.querySelectorAll(".add")
    const subUp = document.querySelectorAll(".sub")
    const qty = document.querySelector("#qty")
    
    addUp.forEach(add =>{
        add.addEventListener("click", (e)=>{
            
            let input = e.target.parentElement.children[1];
             let inputValue = input.value
             let newValue = parseInt(inputValue) + 1
             input.value = newValue
            

           })
           
            
            
        })

        subUp.forEach(sub =>{
            sub.addEventListener("click", (e)=>{
           
         let input = e.target.parentElement.children[1];
         let inputValue = input.value
         let newValue = parseInt(inputValue) - 1
         input.value = newValue
                
         if(newValue < 1){
         input.value = 1

         }
           })
           
            
            
        })
    
</script>

<%- include("./partials/_footer") %> 
