
<div class="mostPouplar_container" style="margin-bottom:50rem;">
    <% if(search){%> 
            <h2 style="padding:20px; width:100%;text-align:center;font-size:16px" id="searchResult"> <%= search.length %> result found for <%= query%>
            </h2>
    

 
        
    

    <div class="popular">
        

        <% search.forEach(product => { %>
            
            <div class="pro_img mycategory" data-name="<%= product.categories %>">
                
                <a href="/product/<%= product.slug %> ">
                    <img src="./img/upload/<%= product.myfiles[0].filename %> " alt="" class="product-img">
                   
                    <h2 class="product-name"><%= product.productName.substr(0,15) %> </h2>
                </a>
                
                <div class="ratings">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p id="amount" class="product-price">&#8358 <%= product.amount %> </p>
          
             
        
                        <input type="hidden"    value="<%= product.id %> " class="product-id">
                        <input type="hidden"  name="price"  value="<%= product.amount %> ">
                        <input type="hidden" name="quantity" value="1" id="" class="product-quantity">
                        <input type="hidden" name="sizes" value="<%= product.sizes %>" id="" class="product-size">
                        <input type="hidden" name="color" value="<%= product.color %>" id="" class="product-color">
                        
                        <input type="hidden" name="categories" value="<%= product.categories %>" id="">
                        <button type="button" id="button" class="addBtn">Add to cart</button>
                        
                        
            </div>
            <%  }) %> 
            <%  } else{ %>
              <p>Search not found </p>
            <% } %> 
                
</div>
</div>



<!-- mycart items -->
<div class="cart_conntaianer">
    <div class="cart" style="overflow-x: auto;">
  
    <h2 id="table-header">My Shopping cart</h2>
    <form action="/" method="">
      <table class="cart-table"> 
      
      
  
        <thead>
            <tr>
              <td>s/n</td>
              <td>img</td>
              <td id="name">name</td>
              <td>Amt</td>
              <td>color</td>
              <td>size</td>
              <td>Qty</td>
              <td>Total price</td>
  
              <td>remove</td>
           </tr>
          </thead>       
                  
          <tbody>
  
          </tbody>
    
          <tfoot>
        
            <tr>
                <td><input type="hidden" name="email" value=" <% if(user){%>
                 <%= user.email %> <%} %>" id=""></td>
                <td><input type="hidden" name="phone" value=" <% if(user){%>
                 <%= user.phone %> <%} %>" id=""></td>
                <td colspan="10">Grand Total <span class="total" name="grand"></span></td>
               
               
              </tr>
              
            </tfoot>
          
  
          
          
          
        </table>
        <!-- <input type="hidden" name="userId" value="<ser.id %> " id=""> -->
        <button> <a href="/">Continue shopping</a></button>
        <% if(!user){ %> 
        <p id="notLogging">Checkout</p>
        <% }else{ %> 
          <button type="submit" id="checkout">Checkout</button>
  
          <% } %> 
      </form>
      
  
  
  <div class="loginUser">
    <div class="userLogin">
    <P>Please login to checkout</P>
    <div class="button">
  
      <button id="removeSlideShow" type="submit">cancel</button>
      <a href="/users/login">Login</a>
    </div>
  </div>
  
  </div>
    
  
  </div>
</div>

<!-- 


<script>
    const catBtn = document.querySelectorAll(".cart")
    const cartItem = document.querySelectorAll(".mycategory")
    const category = document.querySelector(".categories")
    
    catBtn.forEach(categBtn =>{
        categBtn.addEventListener("click", (e)=>{
            category.querySelector(".active").classList.remove("active")
            categBtn.classList.add("active")

           let cateAttribute = categBtn.getAttribute("data-name")
           
           cartItem.forEach(items =>{
               let myItemAttrribute = items.getAttribute("data-name")
               if(cateAttribute == myItemAttrribute || cateAttribute === "all"){
               
                items.classList.remove("hide")
                items.classList.add("show")
               }else{
                items.classList.remove("show")
                items.classList.add("hide")


               }
           })
        })
    })
</script> -->
