<div class="singleProduct">
    <div class="showImg">
        <div class="singleImg">
        <img src="../img/upload/<%= single.myfiles[0].filename %> " alt="<%= single.myfiles[0].filename %>" id="show_img" class="product-img">
        </div>
    
    </div>
    <div class="right_product">
        <h2 id="title" class="product-name"><%= single.productName %> </h2>
        <div class="ratings">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
      
        <h3 class="product-price">&#x20A6<span><%=single.amount %></span></h3> 
       
        <p>Brand:<span><%= single.brand %> </span></p>

         <div class="selectImg select_banner_img" id="color">
      <p>Color:</p>  <% single.myfiles.map(selectedImg =>{ %>
            <img src="../img/upload/<%= selectedImg.filename %> " class="select_img " alt="<%= selectedImg.filename %> ">
            
            <%  }) %> 
    </div>
    
       
            
           

        <input type="hidden"  value="<%= single.id %> " class="product-id">
        <input type="hidden"  name="price"  value="<%= single.amount %> ">
        <p class="quantity"> Quantity :<span> <input type="number" name="quantity" value="<%= single.quantity %>" id="" class="product-quantity"></span></p>   
        <input type="hidden" name="color" value="<%= single.color %>" id="" class="product-color">
        
        <% if(single.categories === "computer" || single.categories === "phone" || single.categories === "electronic"){ %> 
            <input type="hidden" name="size" value="<%= single.sizes %>" id="" class="product-size">

            <% }else{ %> 
        
            <p class="sizes">Sizes : <select name="sizes" id="size" class="product-size">
            <% if(single.categories !== "shoe"){ %> 
            <option value="s" <%= single.sizes == 'L' ?  'selected' : "" %> >S</option>
            <option value="m" <%= single.sizes == 'M' ?  'selected' : "" %> >M</option>
            <option value="l" <%= single.sizes == 'L' ?  "selected" : "" %>>L</option>
            <option value="xl" <%= single.sizes == "XL" ?  "selected" : "" %>>XL</option>
            <option value="xxl" <%= single.sizes == "XXL" ?  "selected" : "" %>>XXL</option>
            <option value="xxxl" <%= single.sizes == "XXXL" ?  "selected" : "" %>>XXXL</option>
           <% }else{ %> 
            <option value="1" <%= single.sizes == '1' ?  'selected' : "" %> >1</option>
            <option value="2" <%= single.sizes == '2' ?  'selected' : "" %> >2</option>
            <option value="3" <%= single.sizes == '3' ?  "selected" : "" %>>3</option>
            <option value="4" <%= single.sizes == "4" ?  "selected" : "" %>>4</option>
            <option value="5" <%= single.sizes == "5" ?  "selected" : "" %>>5</option>
            <option value="6" <%= single.sizes == "6" ?  "selected" : "" %>>6</option>
            <option value="7" <%= single.sizes == "7" ?  "selected" : "" %>>7</option>
            <option value="8" <%= single.sizes == "8" ?  "selected" : "" %>>8</option>
            <option value="9" <%= single.sizes == "9" ?  "selected" : "" %>>9</option>
            <option value="10" <%= single.sizes == "10" ?  "selected" : "" %>>10</option>
            <option value="11" <%= single.sizes == "11" ?  "selected" : "" %>>11</option>
            <option value="12" <%= single.sizes == "12" ?  "selected" : "" %>>12</option>
            <option value="13" <%= single.sizes == "13" ?  "selected" : "" %>>13</option>
            <option value="14" <%= single.sizes == "14" ?  "selected" : "" %>>14</option>
            <option value="15" <%= single.sizes == "15" ?  "selected" : "" %>>15</option>
            <option value="16" <%= single.sizes == "16" ?  "selected" : "" %>>16</option>
            <option value="17" <%= single.sizes == "17" ?  "selected" : "" %>>17</option>
            <option value="18" <%= single.sizes == "18" ?  "selected" : "" %>>18</option>
            <option value="19" <%= single.sizes == "19" ?  "selected" : "" %>>19</option>
            <option value="20" <%= single.sizes == "20" ?  "selected" : "" %>>20</option>
            <option value="21" <%= single.sizes == "21" ?  "selected" : "" %>>21</option>
            <option value="22" <%= single.sizes == "22" ?  "selected" : "" %>>22</option>
            <option value="23" <%= single.sizes == "23" ?  "selected" : "" %>>23</option>
            <option value="24" <%= single.sizes == "24" ?  "selected" : "" %>>24</option>
            <option value="25" <%= single.sizes == "25" ?  "selected" : "" %>>25</option>
            <option value="26" <%= single.sizes == "26" ?  "selected" : "" %>>26</option>
            <option value="27" <%= single.sizes == "27" ?  "selected" : "" %>>27</option>
            <option value="28" <%= single.sizes == "28" ?  "selected" : "" %>>28</option>
            <option value="29" <%= single.sizes == "29" ?  "selected" : "" %>>29</option>
            <option value="30" <%= single.sizes == "30" ?  "selected" : "" %>>30</option>
            <option value="31" <%= single.sizes == "31" ?  "selected" : "" %>>31</option>
            <option value="32" <%= single.sizes == "32" ?  "selected" : "" %>>32</option>
            <option value="33" <%= single.sizes == "33" ?  "selected" : "" %>>33</option>
            <option value="34" <%= single.sizes == "34" ?  "selected" : "" %>>34</option>
            <option value="35" <%= single.sizes == "35" ?  "selected" : "" %>>35</option>
            <option value="36" <%= single.sizes == "36" ?  "selected" : "" %>>36</option>
            <option value="37" <%= single.sizes == "37" ?  "selected" : "" %>>37</option>
            <option value="38" <%= single.sizes == "38" ?  "selected" : "" %>>38</option>
            <option value="39" <%= single.sizes == "39" ?  "selected" : "" %>>39</option>
            <option value="40" <%= single.sizes == "40" ?  "selected" : "" %>>40</option>
            <option value="41" <%= single.sizes == "41" ?  "selected" : "" %>>41</option>
            <option value="42" <%= single.sizes == "42" ?  "selected" : "" %>>42</option>
            <option value="43" <%= single.sizes == "43" ?  "selected" : "" %>>43</option>
            <option value="44" <%= single.sizes == "44" ?  "selected" : "" %>>44</option>
            <option value="45" <%= single.sizes == "45" ?  "selected" : "" %>>45</option>
            <option value="46" <%= single.sizes == "46" ?  "selected" : "" %>>46</option>
            <option value="47" <%= single.sizes == "47" ?  "selected" : "" %>>47</option>
            <option value="48" <%= single.sizes == "48" ?  "selected" : "" %>>48</option>
            <option value="49" <%= single.sizes == "49" ?  "selected" : "" %>>49</option>
            <option value="50" <%= single.sizes == "50" ?  "selected" : "" %>>50</option>
    
            <% } %> 
            <% } %> 
        </select></p>  
        
        <input type="hidden" name="categories" value="<%= single.categories %>" id="">
    </div>
    
    
        <button type="submit" class=" buynow">Buy Now</button>
 
    <button type="submit" class="addBtn submitBtn">Add to Cart</button >
 
        



        <div class="imgPreview">
            <div class="previewImg">
                <i class="lni lni-close" id="close-preview"></i>
               
                    <div class="singleImg showPreview">
                        <img src="../img/upload/<%= single.myfiles[0].filename %> " alt="<%= single.myfiles[0].filename %>" id="show_imgg" class="product-img">
                    </div>
          
                    <div class="selecImg select_banner_img selectPreview">
                            <% single.myfiles.map(selectedImg =>{ %>
                                <img src="../img/upload/<%= selectedImg.filename %> " class="select_img " alt="<%= selectedImg.filename %> ">
                                
                                <%  }) %> 
                    </div>
            </div>


        </div>





        <div class="cart_conntaianer">
    <div class="cart" style="overflow-x: auto;">
        
    <h2 id="table-header">My Shopping cart</h2>
    <form action="/" method="POST">
        <table class="cart-table"> 
            
            
            
        <thead>
            <tr>
                <td>s/n</td>
                <td>img</td>
                <td id="name">name</td>
                <td>Amt</td>
                <td>color</td>
                <td>size</td>
              <td>Qty</td>
              <td>Total price</td>
              
              <td>remove</td>
            </tr>
          </thead>       
          
          <tbody>
              
          </tbody>
          
          <tfoot>
        
            <tr>
                <td><input type="hidden" name="email" value=" <% if(user){%>
                    <%= user.email %> <%} %>" id=""></td>
                <td><input type="hidden" name="phone" value=" <% if(user){%>
                 <%= user.phone %> <%} %>" id=""></td>
                <td colspan="10">Grand Total <span class="total" name="grand"></span></td>
                
               
            </tr>
              
            </tfoot>
            
  
          
            
            
        </table>
        <!-- <input type="hidden" name="userId" value="<ser.id %> " id=""> -->
            <button> <a href="/">Continue shopping</a></button>
            <% if(!user){ %> 
                <p id="notLogging">Checkout</p>
                <% }else{ %> 
                    <button type="submit" id="checkout">Checkout</button>
  
                    <% } %> 
      </form>
      
  
  
  <div class="loginUser">
    <div class="userLogin">
    <P>Please login to checkout</P>
    <div class="button">
        
        <button id="removeSlideShow" type="submit">cancel</button>
        <a href="/users/login">Login</a>
    </div>
</div>

</div>


</div>
</div>
<!-- </div> -->



</div>




<div class="moreInfo">
    <div class="infoBtn">
        <!-- <div class="des1 active " data-select="all"> All</div> -->
        <div class="des1 description active" data-select="description">Description</div>
        <div class="des1" data-select="shipping">Shipping  </div>
        <div class="des1" data-select="Warranty">Warranty </div>
        <div class="des1" data-select="return">Return Policy </div>
        <div class="des1" data-select="review">Review </div>
    </div>

    <div class="myProductInfo">
        <div class="description  showInfo" data-select="description">
            <p><%= single.description %> </p>
        </div>
            <div class="shipping  showInfo" data-select="shipping">
                
                 <div class="ship_img"><i class="fa fa-shipping-fast"></i></div>
                 <div class="ship_txt">
                    <p>  Delivery</p>
                    <p>Estimated delivery time: 1 - 9 days</p>
                 </div>
                
            </div>
    
            <div class="waranty  showInfo" data-select="Warranty">
                <p>Warranty information unavailable for this item.</p>
            </div>
    
            <div class="return  showInfo" data-select="return">
                <div class="return_img"><i class="fa fa-undo-alt"></i></div>
                <div class="return_text">
                    <p>7 Day Return Guarantee</p>
                  <p>For more information on the return shipping options, go to freaky-store Return Policy</p>
                </div>
            </div>
        
            <div class="review  showInfo" data-select="review">
                <p>No product review yet. Be the first to review this product.</p>
            </div>
    </div> 
</div>


<div class="showProductInfoOnmobile">



    <div id="description">
        
        <li data-select="description" class="descriptions">Description <i class="fa fa-angle-right" data-select="description" id="descIcon"></i> </li>

           <div class="des" data-select="description">
            <p><%= single.description %> </p>
           </div>
        </div>
            <div class="shippings" >
                <li  data-select="shipping">shipping  <i class="fas fa-angle-right ship"></i></li>
                
                <div class="des" data-select="shipping">
                <p>  Delivery Estimated delivery time: 1 - 9 days </p>

                </div>
           
            </div>
    
            <div class="warantys">
                <li  data-select="waranty">waranty <i class="fas fa-angle-right" id="wara"></i></li>
            <div class="des" data-select="waranty">
                <p>Warranty information unavailable for this item.</p>
                
            </div>           
         </div>
    
            <div class="myreturn" >
                <li data-select="return" class="returns"> return <i class="fas fa-angle-right" id="return"></i></li>
                
            <div class="des" data-select="return">
                <p>7 Day Return Guarantee</p> 
                  <p>For more information on the return shipping options, go to freaky-store Return Policy</p>

            </div>               
            </div>

            <div class="review">
                <li data-select="review" class="reviews">review <i class="fas fa-angle-right" id="rew"></i></li>
                <div class="des" data-select="review">
                <p>No product review yet. Be the first to review this product.</p>

                </div>
            </div>
        
</div>




