<%- include("./partials/_header") %> 
<div class="singleProduct">
    <div class="showImg">
        <div class="singleImg">
        <img src="../img/upload/<%= single.myfiles[0].filename %> " alt="<%= single.myfiles[0].filename %>" id="show_img">
        </div>
    <div class="selectImg">
        <% single.myfiles.map(selectedImg =>{ %>
            <img src="../img/upload/<%= selectedImg.filename %> " class="select_img" alt="<%= selectedImg.filename %> ">
            
            <%  }) %> 
    </div>
    </div>

    <div class="productInfo">
        <h2 id="title"><%= single.productName %> </h2>
        <div class="amount">
           <h3>Amount: &#x20A6 <%= single.amount %></h3> 
        </div>
        <p><%= single.description %> </p>
        <p>Brand: <span><%= single.brand %> </span></p>

    
        <form action="/users/cart/<%= single.id %> " method="POST">
            <div class="color"> 
                <h2>Color:</h2> 
                
                <select name="color" id="">
    
                    <option value="default">default</option>
                    <option value="red">red</option>
                    <option value="blue">blue</option>
                    <option value="green">green</option>
                    <option value="pink">pink</option>
            
                </select>
    
            </div>
            
            <div class="quantity">
            <h2>Quantity: </h2>
            <select name="quantity" id="">

                <option value="1" <%= single.quantity == '1' ? 'selected' : ""%>>1</option>
                <option value="2" <%= single.quantity == "2" ? 'selected' : "" %> >2</option>
                <option value="3" <%= single.quantity == "3" ? 'selected' : "" %> >3</option>
                <option value="4" ><%= single.quantity == "4" ? 'selected' : "" %> 4</option>
                <option value="5" <%= single.quantity == "5" ? 'selected' : "" %> >5</option>
                <option value="6" <%= single.quantity == "6" ? 'selected' : "" %> >6</option>
                <option value="7"  <%= single.quantity == "7" ? 'selected' : "" %> >7</option>
                <option value="8" <%= single.quantity == "8" ? 'selected' : "" %> >8</option>
                <option value="9" <%= single.quantity == "9" ? 'selected' : "" %> >9</option>
                <option value="10" <%= single.quantity == "10" ? 'selected' : "" %>  >10</option>
            </select>

        </div>
        <input type="hidden" value="<%= single.amount %> " name="price" id="">
        
        <div class="submitBtn">
            <button type="submit">Add to cart</button>
        </form>


            <button type="submit">Buy Now</button>
        </div>
    </div>
</div>

<script>
    const add = document.getElementById("add")
    const sub = document.getElementById("sub")
    const qty = document.getElementById("qty")

    let click = 0;
    add.addEventListener("click", (e)=>{
        qty.value = click +=1
    })

    sub.addEventListener("click", (e)=>{
        qty.value = click -- ;
        
        if(qty.value <= 1){
            click = 0;
            
        }
    })
    
</script>

<%- include("./partials/_footer") %> 
