<%- include("./partials/_header") %> 
<div class="singleProduct">
    <div class="showImg">
        <div class="singleImg">
        <img src="../img/upload/<%= single.myfiles[0].filename %> " alt="<%= single.myfiles[0].filename %>" id="show_img">
        </div>
    <div class="selectImg">
        <% single.myfiles.map(selectedImg =>{ %>
            <img src="../img/upload/<%= selectedImg.filename %> " class="select_img" alt="<%= selectedImg.filename %> ">
            
            <%  }) %> 
    </div>
    </div>

    <div class="productInfo">
        <h2 id="title"><%= single.productName %> </h2>
        <div class="amount">
           <h3>Amount: &#x20A6 <%= single.amount %></h3> 
        </div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, voluptatem officiis! Hic mollitia iste modi provident recusandae placeat natus quo sit quas consequatur? Dolores ducimus assumenda voluptate dolore facilis quisquam.</p>

        <p>Brand: <span>Hp</span></p>

        <div class="color"> 
            <h2>Color:</h2> 
            <label for="black">
              <input type="radio" name="black" value="black" checked id="black">
              <span id="black"></span>


            </label>
            <label for="red">
                <input type="radio" name="red" value="red" id="red">
                <span id="red"> </span>

            </label>
            <label for="blue">
                <input type="radio" name="blue" value="blue" id="blue">
                
                <span id="blue"></span>

            </label>
            <label for="green">
              <input type="radio" name="green" value="green" id="green">
              <span id="green"></span>
            </label>

           
           
        </div>
        <form action="" method="POST">
        <div class="quantity">
            <h2>Quantity: </h2>
            <button type="submit" id="add">+</button>

                <input type="text"  name="quantity"   id="qty">
            <button type="submit" id="sub">-</button>

        </div>
        <input type="hidden" value="<%= single.amount %> " name="price" id="">
        
        <div class="submitBtn">
            <button type="submit">Add to cart</button>
        </form>


            <button type="submit">Buy Now</button>
        </div>
    </div>
</div>

<script>
    const add = document.getElementById("add")
    const sub = document.getElementById("sub")
    const qty = document.getElementById("qty")

    let click = 0;
    add.addEventListener("click", (e)=>{
        qty.value = click +=1
    })

    sub.addEventListener("click", (e)=>{
        qty.value = click -- ;
        
        if(qty.value <= 1){
            click = 0;
            
        }
    })
    
</script>

<%- include("./partials/_footer") %> 
