<%- include("../partials/_header") %> 

<% if(user){ %> 

<div class="checkoutInfo">
    <div class="checkform">
        <form action="/cart/payment" method="POST">
            <h2>Delivery / Pickup Options</h2>
    <input type="text" name="" value="<% if(user.firstname !== ""){ %><%=user.firstname %>
    <%}%>" id="">
    <input type="text" name="lastname" value="<%= user.lastname %> " id="" placeholder="lastname">
    <input type="text" name="email" value="<%= user.email %> " id="">
    <input type="text" name="phone" value="<%= user.phone %> " id="">
    <input type="text" name="state" value="<%= user.state %>" id="" placeholder="State">
    <input type="text" name="country" value="<%= user.country %>" id="" placeholder="country">
    <input type="text" name="address" value="<%= user.address %>" id="" placeholder="address">
    <input type="hidden" name="grand" value="<%= info.grand %>" id="" placeholder="address">
  
        
    <button type="submit"  class="CheckoutBTn">Continue Checkout</button>
</form>
</div>


<div class="dd">
    <!-- mycart items -->
    <div class="cart_conntaianer">
        <div class="cart" style="overflow-x: auto;">
      
        <h2 id="table-header">My Shopping cart</h2>
        <form action="/cart/mycart" method="POST">
          <table class="cart-table"> 
          
          
      
               
                      
              <tbody>
      
              </tbody>
        
              <tfoot>
            
                <tr>
                    <td><input type="hidden" name="email" value=" <% if(user){%>
                     <%= user.email %> <%} %>" id=""></td>
                    <td><input type="hidden" name="phone" value=" <% if(user){%>
                     <%= user.phone %> <%} %>" id=""></td>
                    <td colspan="10">Grand Total <span class="totall" name="grand"></span></td>
                    <td colspan="1" style="display: none;">Grand Total    <input type="text"  name="grand" id="" class="total" style="border: none;"> </td>
                   
                  </tr>
                  
                </tfoot>
                
                
              
              </table>
              
              <table>
              </table>
              
          
</div>

<%  } %>  


<%- include("../partials/_footer") %> 
